<body>
  <h1>Memory Usage</h1>
  <h3>~serviceMem GB Used by ~serviceName</h3>
  <h3>~freeText GB Free Memory </h3>
  <h4>Total System Memory Usage</h4>
  <div style="width: 100%; background-color: lightgray; border-radius: 10px;">
    <!--remaingMem is (Total-Free)/Total-->
    <div style="width: ~remainingMem%;background-color: ~memColor;border-radius: 10px;text-align: center;">~remainingMem%</div>
  </div>
  <h1>CPU Usage</h1>
  <h4>Total System CPU Usage</h4>
  <div style="width: 100%; background-color: lightgray; border-radius: 10px;"">
    <div style="width: ~cpuUsage%;background-color: ~cpuColor;border-radius: 10px;text-align: center;">~cpuUsage%</div>
  </div>
  <h1>Services by Memory Usage</h1>
  <div>
    <p>~serviceList</p>
  </div>
  <h3>This site refreshed every 5 seconds</h3>
  <script>setTimeout(() => document.location.reload(), 5000)</script>
  <script type="text/javascript">
    var timeleft = 5;
    var downloadTimer = setInterval(function(){
      if(timeleft <= 0){
        clearInterval(downloadTimer);
      }
      document.getElementById("progressBar").value = 5 - timeleft;
      timeleft -= 1;
    }, 825);
  </script>
  <progress value="0" max="5" id="progressBar"></progress>
</body>